:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 600;
}

.react-player {
  height: calc(100vh - 150px);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:"Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard_user {
  width: calc(100vw - 270px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.tutorCard {
  width: calc((100%)/2 - 10px);
}

.authPage {
  width: calc(100vw - 599px);
}

.historyTransaction {
  height: calc(100vh - 400px);
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  font-family: "Emoji";
  /* For IE and Edge */
}

/* Show the scrollbar only for the body */
body::-webkit-scrollbar {
  display: block;
  /* Chrome, Safari, Edge */
}

body {
  scrollbar-width: auto;
  /* Firefox */
  -ms-overflow-style: auto;
  /* IE and Edge */
}

.dashboardSnap {
  height: calc(100vh - 160px);
}

.propertySnap {
  height: calc(100vh - 100px);
}

.animate-image {
  animation: flash 1s infinite;
  /* Flash effect for the image */
}

@keyframes flash {

  0%,
  100% {
    opacity: 1;
    /* Fully visible */
    transform: scale(1);
    /* Normal size */
  }

  50% {
    opacity: 0.5;
    /* Semi-transparent */
    transform: scale(1.1);
    /* Slightly larger */
  }
}

.assetScroll {
  height: calc(100vh - 350px);
}

.singleAssetDisplay {
  height: calc(100vh - 250px);
}

@media screen and (max-width:1000px) {
  .authPage {
    width: calc(100vw);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width:700px) {
  .tutorCard {
    width: 100%;
  }
}

.moving-image {
  width: 40px;
  animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}